/*----------------------------
---      Media querys      ---
------------------------------*/

@media screen and (max-width:1366px) {}

@media screen and (max-width: 980px) {}

@media screen and (max-width: 768px) {
    .space-login {
        padding-top: 30px;
        padding-bottom: 10px;
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

    .inter-space {
        padding: 10px 10px !important;
    }

    .no-movile-element {
        display: none;
    }

    .space-right {
        padding-left: 40px !important;
    }

    .admin-text {
        padding: 0px 10px;
    }

    .title {
        text-align: center;
    }

    .title-extra {
        text-align: center;
    }

    .content {
        text-align: center;
    }

    .btn-delete {
        width: 73%;
    }

    .resume {
        margin-left: 12px;
    }

    .sub-title {
        text-align: center;
    }

    .space-mobile {
        margin-top: -10px;
    }

    .logo-app {
        width: 15%;
    }

    .brand-logo {
        font-size: 16px !important;
    }

    .icon-dashboard {
        height: auto;
        width: 20%;
    }

    .profile-card-employee {
        height: auto;
        width: 20%;
    }
}

@media screen and (max-width: 500px) {
    .space-login {
        padding-top: 30px;
        padding-bottom: 10px;
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

    .inter-space {
        padding: 10px 10px !important;
    }

    .no-movile-element {
        display: none;
    }

    .space-right {
        padding-left: 40px !important;
    }

    .admin-text {
        padding: 0px 10px;
    }

    .title {
        text-align: center;
    }

    .title-extra {
        text-align: center;
    }

    .content {
        text-align: center;
    }

    .btn-delete {
        width: 73%;
    }

    .resume {
        margin-left: 12px;
    }

    .sub-title {
        text-align: center;
    }

    .space-mobile {
        margin-top: -10px;
    }

    .logo-app {
        width: 15%;
    }

    .brand-logo {
        font-size: 16px !important;
    }

    .icon-dashboard {
        height: auto;
        width: 20%;
    }

    .profile-card-employee {
        height: auto;
        width: 20%;
    }

}
