.title-app {
    font-family: 'Righteous', cursive;
}

.brand-logo {
    font-family: 'Righteous', cursive;
    font-size: 20px !important;
}

.color-title {
    font-weight: 100;
}

.row-help {
    margin-top: 20px !important;
    margin-bottom: -60px !important;
}

.candidates-img{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    display: inline-block;
    margin-left: -15px;
}

.logo-app {
    height: auto;
    width: 8%;
    margin: auto;
    display: block;
}

.space-candidates-offer{
    margin-top:15px;
    padding-right: 0px !Important;
    padding-left: 0px !Important;
}

.count-candidates{
    font-weight: 500;
    margin-left: -12px;
    margin-top: 6px;
}

.all-text{
    text-align: center;
    font-size: 10px
}

.space-top-view{
    margin-top:6px;
}

.space-login {
    padding-top: 50px;
    padding-bottom: 20px;
    padding-left: 350px;
    padding-right: 350px;
}

.card {
    border-radius: 3px;
    box-shadow: 0px 0px 1px 0px #b4b4b4;
    padding-left: 0px !important;
    padding-right: 15px !important;
}



.row-space-nav {
    padding-left: 20px;
    padding-right: 20px;
}

.message {
    border-radius: 4px;
    box-shadow: 0px 0px 1px 0px #b4b4b4;
    border-left: 3px solid #8bc34a;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 20px !important;
    padding-bottom: 20px !important;
    font-size: 12px !important;
}

.picker__date-display {
    text-align: left;
    background-color: #6a1b9a;
    color: #fff;
    padding: 18px;
    font-weight: 300;
}

.position {
    margin-top: 20px;
    font-size: 12px;
}

.sub-title {
    font-size: 10px !important;
}

.specia-profile-conf-space {
    margin-top: 2px;
}

.content {
    font-size: 12px !important;
    text-align: justify;
}

.profile-img {
    height: auto;
    width: 50%;
    margin: auto;
    display: block;
    border-radius: 50%;
    margin-top: 10px;
    margin-bottom: 15px;
}

.profile-img-two {
    height: auto;
    width: 50%;
    margin: auto;
    display: block;
    border-radius: 50%;
    margin-top: 10px;
    margin-bottom: 40px;
}

.card-profile {
    padding: 20px 20px 0px 20px;
}

.video {
    margin: auto;
    display: block;
    width: 90%;
    height: auto;
    margin-top: 20px;
}

.modal-footer-video {
    margin-top: -30px !important;
}

.profile-card-employee {
    height: auto;
    width: 100%;
    border-radius: 50%;
    margin-top: 10px;
}

.space-right{
    padding-right: 40px !important;
}

.profile-card-employee-two{
    height: auto;
    width: 35%;
    border-radius: 50%;
    margin-top: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.title-offers {
    font-size: 20px !important;
    margin-top: 20px;
    margin-bottom: 20px;
}

.title-offer-car {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 500;
}

.icon-dashboard {
    height: auto;
    width: 100%;
    margin: auto;
    display: block;
    margin-top: 10px;
}

.alert-message {
    font-weight: 200;
}

.icon-config {
    height: auto;
    width: 50%;
    margin: auto;
    display: block;
    margin-top: 10px;
}

.message-dashboard {
    border-radius: 4px;
    box-shadow: 0px 0px 1px 0px #b4b4b4;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 20px !important;
    padding-bottom: 5px !important;
    font-size: 12px !important;
    background-color: white;
}

a .message-dashboard:hover {
    box-shadow: 0px 0px 5px 0px #b4b4b4;
}

.message-dashboard-add {
    border-radius: 4px;
    box-shadow: 0px 0px 1px 0px #b4b4b4;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 20px !important;
    padding-bottom: 5px !important;
    font-size: 12px !important;
    background-color: none;
}

.card-references {
    border-radius: 4px;
    box-shadow: 0px 0px 1px 0px #b4b4b4;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 25px !important;
    padding-bottom: 1px !important;
    font-size: 12px !important;
    background-color: white;
}

.space-btn-save{
    padding-top: 40px !important;
}

.no-space{
    margin-top:-10px;
}

.profile-transaction{
    height: auto;
    width: 50%;
    border-radius: 50%;
}

.inter-space{
    padding: 50px 50px !important;
}

.card-references-add {
    border-radius: 4px;
    box-shadow: 0px 0px 1px 0px #b4b4b4;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 25px !important;
    padding-bottom: 1px !important;
    font-size: 12px !important;
    background-color: none;
}

.space-trans{
    margin-top:20px;
}

.select-wrapper input.select-dropdown {
    border-bottom: none !important;
}

.select-wrapper span.caret {
    padding-right: 15px;
}

.mce-panel {
    border: none !important;
}

.card-offer-add {
    border-radius: 4px;
    box-shadow: 0px 0px 1px 0px #b4b4b4;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 45px !important;
    padding-bottom: 1px !important;
    font-size: 12px !important;
    background-color: none;
}

.space-special-close {
    margin-top: -10px !important;
}

.form-bottom-space {
    margin-bottom: -100px;
}

.add-icon {
    font-size: 50px;
    display: block;
    margin: auto;
    margin-bottom: 30px;
    text-align: center;
}

.add-icon-2 {
    font-size: 50px;
    display: block;
    margin: auto;
    margin-bottom: 10px;
    text-align: center;
}

.candidate-profile{
    display: block;
    height: auto;
    width: 60%;
    margin: auto;
    border-radius: 50%;
}

.message-wellcome {
    border-radius: 4px;
    box-shadow: 0px 0px 1px 0px #b4b4b4;
    border-left: 3px solid #8310bf;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 20px !important;
    padding-top: 20px !important;
    padding-bottom: 20px !important;
    background-color: white;
}

.message-alert {
    border-radius: 4px;
    box-shadow: 0px 0px 1px 0px #b4b4b4;
    border-left: 3px solid #ffc62c;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 20px !important;
    padding-top: 20px !important;
    padding-bottom: 20px !important;
    background-color: white;
}

.message-acepted{
    border-radius: 4px;
    box-shadow: 0px 0px 1px 0px #b4b4b4;
    border-left: 3px solid #8bc34a;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 20px !important;
    padding-top: 20px !important;
    padding-bottom: 20px !important;
    background-color: white;   
}

.title-nav {
    font-size: 12px;
    margin-top: 30px;
}

.row-space {
    padding-left: 20px;
    padding-right: 20px;
}

.profile-nav {
    padding: 12px 0px;
    height: auto !important;
    width: 40px !important;
    border-radius: 50%;
    display: block;
    margin: auto;
    line-height: 64px;
}

.value i {
    font-size: 20px !important;
}

.text-form {
    font-size: 12px;
}

.space-bottom {
    margin-bottom: 30px;
}

.input-style {
    border-radius: 3px !important;
    box-shadow: 0px 0px 1px 0px #b4b4b4 !important;
    border: none !important;
    padding-left: 15px !important;
    width: 100% !important;
}

.input-search {
    border-radius: 3px !important;
    box-shadow: 0px 0px 1px 0px #b4b4b4 !important;
    border: none !important;
    padding-left: 15px !important;
}

.input-delete {
    border-radius: 3px !important;
    box-shadow: 0px 0px 1px 0px #b4b4b4 !important;
    border: none !important;
    padding-left: 15px !important;
}

.input-searh {
    border-radius: 3px !important;
    box-shadow: 0px 0px 1px 0px #b4b4b4 !important;
    border: none !important;
    padding-left: 15px !important;
}

.edit-body {
    margin-top: -20px;
}

.btn-access {
    width: 90%;
    display: block;
    margin: auto;
    margin-bottom: 20px;
    border-radius: 5px !important;
}

.btn-delete {
    width: 30%;
    display: block;
    margin: auto;
    margin-bottom: 20px;
    border-radius: 5px !important;
}

.btn-edit {
    box-shadow: 0px 0px 1px 0px #b4b4b4;
    width: 100%;
    display: block;
    margin: auto;
    margin-bottom: 20px;
    border-radius: 5px !important;
    color: #bdbdbd;
}

.account-btn {
    display: block;
    margin: auto;
    margin-bottom: 20px;
    border-radius: 5px !important;
}

.btn-info {
    width: 90%;
    display: block;
    margin: auto;
    margin-top: 15px;
    margin-bottom: -5px;
    border-radius: 5px !important;
}

.space-bottom {
    margin-bottom: 40px;
}

div.profile-avatar {
    height: 146px;
    width: 146px;
    margin: auto;
    display: block;
    border-radius: 50%;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 2px solid #d4d4d4;
    background-image: url('../../img/v2/user-account.png');
    background-position: center;
    background-size: cover;
    overflow: hidden;
}

div.profile-avatar > img {
    width: 100%;
    height: 100%;
}
