/*----------------------------
---      Media querys      ---
------------------------------*/

@media screen and (max-width:1366px) {
    
}

@media screen and (max-width: 980px) {
    
}

@media screen and (max-width: 768px) {
    
}

@media screen and (max-width: 500px) {
    
}
