.obelisco {
    font-family: 'Roboto', sans-serif;
    background: url(../img/data/banner1.jpg) no-repeat fixed center center / cover;
}

.row {
    margin-bottom: -12px !important;
}

.back {
    background-color: rgba(152, 10, 152, 0.74);
}

.space-lateral {
    padding-top: 50px !important;
    padding-bottom: 150px !important;
    padding-left: 400px !important;
    padding-right: 400px !important;
}

.nav-space {
    padding-left: 2px !important;
    padding-right: 50px !important;
}

.btn-tefl {
    border-radius: 50px !important;
}

.profile-img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 5px solid #d4d4d4;
}

.dashboard-space {
    padding: 50px 50px 50px 50px !important;
}

.card-space {
    margin-top: 50px;
    padding: 50px 20px 50px 20px !important;
}

.disabled img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.card-actions{
    color:#414141;
    padding: 30px 10px 10px 10px !important;
    margin-left:40px;
    margin-right:40px;
}

.log-app-nav {
    height: auto;
    width: 40%;
    margin-top: 15px;
}

.alerts-div {
    margin-top: 50px;
}

.job-profile-img {
    height: 90px;
    width: 90px;
    border-radius: 50%;
    border: 5px solid #d7d7d7;
}

.card-job {
    padding-top: 20px;
    padding-bottom: 30px;
}

.text-welcome {
    padding-top: 60px !important;
}

.alerts-div i {
    font-size: 30px;
}

.brand-logo {
    font-size: 18px !important;
}

.input-search {
    background-color: rgba(255, 255, 255, 0.59) !important;
    color: #3c3c3c;
    box-shadow: 1px 1px 1px rgba(145, 145, 145, 0.75) !important;
    padding-left: 10px !important;
    border-radius: 5px !important;
}

.input-field i {
    line-height: 50px !important;
}

.login-img {
    height: auto;
    width: 15%;
    margin-top: 10px;
}

.card {
    border-radius: 5px;
}

.card .card-action:last-child {
    border-radius: 0 0 5px 5px;
}

.footer-logo {
    height: auto;
    width: 50%;
}

.space-footer {
    padding-top: 50px;
    padding-bottom: 50px;
}

.color-row {
    background-color: rgba(185, 23, 185, 0.34);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.75);
    padding-top: 80px !important;
    padding-bottom: 80px !important;
}

.pagination li.active {
    background-color: #8e0fde;
}

.back-row {
    background: url(../img/data/seologig_staff.jpg) no-repeat fixed center center / cover;
}

.input-form {
    background-color: #f2f2f2 !important;
    padding-left: 10px !important;
    border-radius: 10px !important;
    border-bottom: none !important;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.75) !important;
}

.card-accounts {
    padding: 20px 0px !important;
}

.card-accounts i {
    font-size: 50px !important;
}

.btn-login {
    background-color: #9d039d;
    border-radius: 10px;
    width: 40%;
}

.btn-login:hover {
    background-color: #600060;
}

.input-field i.first-icon {
    line-height: 30px !important;
}

.fixed {
    position: fixed;
    z-index: 4000;
}

::placeholder {
    color: rgba(0, 0, 0, 0.75);
    opacity: 1;
    /* Firefox */
}

.card-actions:hover{
    color: #bab9b9;
}

.title-cv{
    margin-top:20px;
    margin-bottom:20px;
}

.card-login {
    background-color: rgba(255, 255, 255, 0.99);
    padding-bottom: 40px;
}

.prefix {
    margin-top: 8px;
}

form {
    padding-left: 20px !Important;
    padding-right: 20px !Important;
}


.footer-icon {
    padding: 10px 10px 10px 10px;
    border: 1px solid #fff;
    border-radius: 50%;
    font-size: 18px;
    color: #fff;
    margin-right: 10px;
}

.space-top {
    margin-top: 40px;
}
